.wrap {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  align-items: center;
}

/* Checkbox */
.wrap > :nth-child(1) {
  flex-grow: 0;
}

/* Task Description */
.wrap > :nth-child(2) {
  flex-grow: 1;
}

/* Options Dropdown Button */
.wrap > :nth-child(3) {
  flex-grow: 0;
}