.wrap {
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  width: 100%;
  padding: 2rem;
  align-items: center;
}

.inner-wrap {
  width: 500px;
}

.group {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
  margin-bottom: 1rem;
}
.group > :nth-child(1) {
  width: 30%;
}
.group > :nth-child(2) {
  width: 70%;
}
/* .group > textarea {
  height: auto;
} */

.btn {
  border: 0;
  color: white;
  border-radius: 5px;
}

.red {
  background-color: rgb(145, 12, 12);
}
.blue {
  background-color: rgb(12, 65, 145);
}

.textarea {
  display: block;
  /* width: 100%; */
  min-width: 400px;
  min-height: 5rem;
  border: 2px solid rgba(0, 0, 0, 0.411);
  padding: .5rem;
}

.group {
  /* display: flex;
  flex-flow: row nowrap; */

}
.group :nth-child(1) {
  /* width: 30%; */
  margin: 0;
}